#------------------------------------------------
# ECLIPSE #

*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

#------------------------------------------------
# JAVA #

*.class

# Package Files #
*.jar
*.war
*.ear

#------------------------------------------------
# VIM #

.*.sw[a-z]
*.un~
Session.vim

#------------------------------------------------
# OSX #

.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
/tomcat-project/src/test/*
